nextflow.enable.dsl=2
process.cache = true 
conda.enabled = true

params  {
    island_viewer_data = "scripts/all_gis_islandviewer_iv4.txt"
    input_files_treatment = "input_files/trimgalore/*R{1,2}*.fq.gz"
    input_files_input = "input_files/trimgalore/*R{1,2}*val*.fq.gz"
    directory_out = "data/read_based/combined/"
    MGE_DB  = "databases/mobileOG/mobileOG-db_beatrix-1.6.MC.faa"
    RES_DB = "databases/ResFinderFG/ResFinder_FG.faa"
    CARD_DB = "databases/CARD_data/protein_fasta_protein_homolog_model.fasta"
    mumame_db = "databases/CARD_data/mumame/CARD_SNP_DB"
    input_genomes = "/storage/marwe/soil_project/data/genome_resolved/individual_contigs_redundant/drep/dereplicated_bins/comple_50_cont_10/dereplicated_genomes/*.fa"
    input_plasmids = "databases/refseq_plasmid/*.fna.gz"
}